body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.zrt-home-name h1 {
  font-size: 50px;
}

@media only screen and (max-width: 430px) {
  .zrt-home-content h1 {
    font-size: 30px;
  }
  .zrt-home-content h2 {
    font-size: 18px;
  }
  .zrt-home-content h3 {
    font-size: 16px;
  } 
}

@media only screen and (max-width: 330px) {
  .zrt-home-content h1 {
    font-size: 20px;
  }
  .zrt-home-content h2 {
    font-size: 14px;
    margin: 0px;
  }
  .zrt-home-content h3 {
    font-size: 12px;
  } 
}

/* .zrt-page-home {
  background-image: linear-gradient(to bottom, #333, transparent);
  background-color: transparent ! important;
} */

.zrt-website {
  background-image: linear-gradient(to bottom, #DDD, #333);
  background-color: transparent ! important;
}

/**
https://pixabay.com/photos/clouds-sky-bright-daylight-light-1282314/
Image uses Pixalbay License: https://pixabay.com/service/license/
Free for commercial use
No Attribution required
**/
.zrt-page-home {
  background-image: url(https://cdn.pixabay.com/photo/2016/03/27/07/32/clouds-1282314_960_720.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 1;
  height: auto !important;
  min-height: 100vh;
}